.app {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
}

.sidebar {
    width: 250px;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.sidebar>* {
    font-size: 24px;
    margin: 1rem 0;
    cursor: pointer;
    display: block;
    color: var(--text-color);
}

.main {
    flex: 1;
    padding: 2rem;
}

.section {
    margin-top: 0.5rem;
    background-color: var(--surface-color);
    border-radius: 2rem;
    padding: 1rem;
    max-width: 60vw;
}

.card-group {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    white-space: nowrap;
}

.card {
    margin: 0.5rem 0;
    background: var(--background-color);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 7rem;
}

.display-amount {
    font-weight: bold;
    color: var(--success-color);
}