.app {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
}

.sidebar {
    width: 250px;
    background-color: #1c1c1c;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.sidebar>* {
    font-size: 24px;
    margin: 1rem 0;
    cursor: pointer;
    display: block;
    color: white;
}

.main {
    flex: 1;
    padding: 2rem;
}

.card-group {
    display: flex;
    gap: 2rem;
}

.card {
    background: darkgrey;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.display-amount {
    font-size: 24px;
    font-weight: bold;
    color: darkgreen;
}
