:root {
    /* Light theme colors */
    --primary-color: #A66FB5;
    --secondary-color: #6BC1B6;
    --background-color: #F7F7F2;
    --surface-color: #F0E6FA;
    --text-color: #22223B;
    --success-color: #6FCF97;
    --warning-color: #FFD166;
    --error-color: #EF476F;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dark-theme {
    /* Dark theme colors */
    --primary-color: #341539;
    --secondary-color: #4ECDC4;
    --background-color: #18191A;
    --surface-color: #232136;
    --text-color: #F7F7F2;
    --success-color: #6FCF97;
    --warning-color: #FFD166;
    --error-color: #EF476F;
}

* {
    margin: 0;
    padding: 0;
    transition: background-color 0.4s;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    color: var(--text-color);
    border: 0;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.4s;
    border-radius: 2vh;
}

button:hover {
    background-color: var(--secondary-color);
    transition: 0.4s;
    border-radius: 1vh;
}

a {
    font-weight: 500;
    color: var(--secondary-color);
    text-decoration: inherit;
}

a:hover {
    color: var(--primary-color);
}
